---
layout: default
---
{% assign posts_count = paginator.posts | size %}

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <!-- {% assign image_tag = post.content | split: '<img' | last %}
        {% assign image_url = image_tag | split: 'src="' | last | split: '"' | first %} -->
        {% assign image_tags = post.content | split: '<img ' %}
        {% assign last_image_tag = "" %}

        {% for tag in image_tags reversed %}
          {% if tag contains 'src="' and tag contains '.jpg' or tag contains '.jpeg' or tag contains '.png' or tag contains '.webp' %}
            {% assign last_image_tag = tag %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% assign image_url = last_image_tag | split: 'src="' | last | split: '"' | first %}
        <div class="post py3" style="position: relative;">
         
          <div class="post-overlay">
            {% if image_url %}
            <div class="post-background" style="background-image: url('{{ image_url }}');"></div>
          {% endif %}
            <p class="post-meta">
              {% if site.date_format %}
                {{ post.date | date: site.date_format }}
              {% else %}
                {{ post.date | date: "%b %-d, %Y" }}
              {% endif %}
            </p>
            <a href="{{ post.url | relative_url }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
            <span class="post-summary">
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
