.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
  background: rgba(255, 255, 255, 0.2); /* Glassmorphic background */
  backdrop-filter: blur(5px); /* Glassmorphic blur effect */
  -webkit-backdrop-filter: blur(5px); /* Glassmorphic blur effect for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Glassmorphic border */
  // border-radius: 16px; /* Rounded corners */
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Glassmorphic shadow */
  text-align: center;
  margin-bottom: 0; /* Remove any bottom margin */
}

.site-header a {
  color: $header-color;
  font-size: $h3;
  font-weight: $header-font-weight;
  background-image: none;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('https://developer.apple.com/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

.site-header .site-title {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #4c9ff9, #b07af9, #f98b8b, #f97d47, #f9c547);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.site-nav {
  padding-top: $nav-padding;
  text-align: center;
}

.site-header nav a {
  color: $nav-color;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle text shadow */
  background: rgba(255, 255, 255, 0.2); /* Glassmorphic background */
  backdrop-filter: blur(5px); /* Glassmorphic blur effect */
  -webkit-backdrop-filter: blur(5px); /* Glassmorphic blur effect for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Glassmorphic border */
  padding: 0.5rem 1rem;
  border-radius: 8px; /* Rounded corners */
  margin: 0 0.5rem;
  text-decoration: none; /* Remove underline */
  transition: background 0.3s, color 0.3s; /* Smooth transition for hover effects */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Glassmorphic shadow */
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: $nav-link-color;
  background: rgba(255, 255, 255, 0.3); /* Slightly more opaque on hover */
  opacity: 1;
  border-bottom: none; /* Ensure no underline on hover */
}

.site-header nav a.nav-active {
  border-bottom: none; /* Remove underline for active link */
}

.site-nav a + a {
  margin-left: $nav-link-padding-x;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}