.post {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.6); /* Glassmorphic background */
  // border-radius: 16px; /* Glassmorphic rounded corners */
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Glassmorphic shadow */
  backdrop-filter: blur(5px); /* Glassmorphic blur effect */
  -webkit-backdrop-filter: blur(5px); /* Glassmorphic blur effect for Safari */
  border: 1px solid rgba(255, 255, 255, 0.4); /* Glassmorphic border */
  padding: 2%; /* Ensure there is no padding */
}

.post-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: opacity(0.5);
  border-radius: 10px;
  z-index: 0;
}

.post-overlay {
  position: relative;
  z-index: 1;
  background: rgba(219, 209, 209, 0.4); /* Semi-transparent background */
  border-radius: 16px; /* Match glassmorphic style */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Match glassmorphic style */
  backdrop-filter: blur(5px); /* Apply blur to create frosted glass effect */
  -webkit-backdrop-filter: blur(5px); /* Apply blur for Safari */
  border: 1px solid rgba(255, 255, 255, 0.4); /* Light border */
  padding: 1rem;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

// .posts .post {
//   margin-bottom: 0.75em;
//   border-bottom: thin solid #f3f3f3;
// }
.posts .post {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2); /* Glassmorphic background */
  border-radius: 16px; /* Rounded corners */
  backdrop-filter: blur(5px); /* Glassmorphic blur effect */
  -webkit-backdrop-filter: blur(5px); /* Glassmorphic blur effect for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Glassmorphic border */
  // margin-bottom: 2rem; /* Adjust spacing between posts */
  padding: 1rem; /* Adjust padding inside the post */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Ensure box shadow */
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  // padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
  position: relative;
  z-index: 2; /* Ensure link is above overlay */
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
